body{
    text-align:center;
    background: wheat;  
}

#board{
    position: relative;
    height: 500px;
    width: 440px;
    background:url(imag2.jpg);
    border: 2px solid #000000;
    margin: 20px auto;
    overflow: hidden;
}

.plane{
    position: absolute;
    left:150px;
    top:305px;
    width: 100px;
    height: 190px;
    background: green;
    
}

.obs{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
}