body{
    text-align:center;
    background: wheat;  
}

#board{
    position: relative;
    height: 500px;
    width: 440px;
    background:url(imag2.jpg);
    border: 2px solid #000000;
    margin: 20px auto;
  
}

.plane{
    position: absolute;
    left:150px;
    top:415px;
    width: 50px;
    height: 80px;
    background: green;
    
}

.bullet{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: yellowgreen; 

}

.obs{
    position: absolute;
    top: 0px;
    width: 20px;
    height: 20px;
    background-color: red;    
}

.img{
    position: relative;
    height: 500px;
    width: 440px;
    background:url(game_over.png) no-repeat;
}